name: Lint, test, and build mobile
on:
  push:
    branches: ["**"]
    paths: ["mobile"]
jobs:
  build_test:
    runs-on: macos-latest
    defaults:
      run:
        working-directory: mobile
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: "adopt"
          java-version: "11"
      - uses: subosito/flutter-action@v1
        with:
          channel: "stable"
      - run: flutter pub get
      - name: Lint with Flutter
        run: flutter format --output none --set-exit-if-changed .
      - name: Test with Flutter
        run: flutter test
      - name: Build Android with Flutter
        run: flutter build apk
      - name: Build iOS with Flutter
        run: flutter build ios --release --no-codesign
